<!doctype html>
<html th:replace="~{fragments/authenticated_layout :: authenticated_layout('Agents', ~{::main})}">
    <body>
        <main>
            <div class="row align-items-center mb-4">
                <div class="col">
                    <h1>Agents</h1>
                </div>
                <div class="col text-end">
                    <a class="btn btn_secondary" href="/admin/agent">New Agent</a>
                </div>
            </div>
            <section>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Email</th>
                            <th>First</th>
                            <th>Last</th>
                            <th>Role</th>
                        </tr>
                    </thead>
                    <tr th:each="u: ${appUsers}">
                        <td>
                            <a th:href="|/admin/agent/${u.id}|" th:text="${u.email}"></a>
                        </td>
                        <td th:text="${u.firstName}"></td>
                        <td th:text="${u.lastName}"></td>
                        <td th:text="${u.role.getShortName()}"></td>
                    </tr>
                </table>
            </section>
        </main>
    </body>
</html>
