/* VARIABLES */

$primary_color: #333333;
$secondary_color: #8F9779;
$secondary_color_hover: #B0B6A1;
$secondary_color_active: #78866B;
$neutral_color: #EEEEEE;
$neutral_color_hover: #D4D4D4;
$neutral_color_active: #BABABA;

$light_text: #FFFFFF;
$dark_text: #333333;
$error_text: #FF0000;

html {
    color: $dark_text;
}

h1 {
    font-size: 2.5rem;
}

/* BUTTONS */

.btn_secondary {
    background-color: $secondary_color;
    border-color: $secondary_color;
    color: $light_text;

    &:hover {
        background-color: $secondary_color_hover;
        border-color: $secondary_color_hover;
        color: $light_text;
    }

    // TODO - fix issue where button turns white when pressed down
    &:active {
        background-color: $secondary_color_active;
        border-color: $secondary_color_active;
        color: $light_text;
    }
}

/* TABLES */

.table {
    --bs-table-bg: none; // Bootstrap variable

    thead {
        background-color: $primary_color;

        th {
            font-weight: 700;
            color: $light_text;
        }
    }

}

section {
    padding: 1rem;
    background-color: $neutral_color;
}

.form_required {
    margin-left: 0.25rem;
    color: $error_text;
}

header {
    display: flex;
    flex-direction: row;
    padding: 0.5rem 0.75rem;
    background-color: $primary_color;
    color: $light_text;

    .app_title {
        flex-grow: 1;
        font-size: 1.5rem;
    }

    .public {
        a {
            margin-left: 0.5rem;
        }
    }
}

.error_page_container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: $primary_color;
    color: $light_text;

    h1 {
        font-size: 5rem;
    }

    h2 {
        font-size: 3rem;
    }
}

.public_form_page {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: $primary_color;

    .public_form_content {
        min-width: 400px;
        max-width: 400px;

        h1 {
            color: $light_text;
            text-align: center;
        }

        .public_form_container {
            padding: 1.5rem;
            background-color: $neutral_color;
            border-radius: 0.25rem;
        }
    }

    .link {
        display: block;
        margin-top: 1rem;
        color: $light_text;
        text-align: center;
    }
}

/* AUTHENTICATED PAGES */

.auth-layout-container {
    display: flex;
    flex-direction: column;
    height: 100vh;

    header {
        .profile {
            flex-grow: 1;
            text-align: right;
        }

        .modal-body {
            color: $dark_text;
        }
    }

    .nav-main-container {
        display: flex;
        flex-direction: row;
        flex-grow: 1;

        nav {
            height: 100%;
            background-color: $neutral_color;
            text-align: center;

            a {
                display: block;
                padding: 1rem;

                svg {
                    width: 2rem;
                    height: 2rem;
                    color: $dark_text;
                }

                &:hover {
                    background-color: $neutral_color_hover;
                }

                &:active {
                    background-color: $neutral_color_active;
                }
            }
        }

        main {
            flex-grow: 1;
            padding: 1rem 2rem;
            overflow-y: auto;
        }
    }
}

/* SETTINGS */

.tile {
    display: flex;
    flex-direction: column;
    width: 125px;
    height: 125px;
    background-color: $neutral_color;
    color: $dark_text;
    text-decoration: none;

    h2 {
        width: inherit;
        margin: 0;
        padding: 1rem 0 0.25rem;
        font-size: 1.25rem;
        text-align: center;
    }

    .icon_container {
        display: flex;
        flex-grow: 1;
        width: inherit;
        padding: 0.5rem;
        align-items: center;
        justify-content: center;

        svg {
            width: 3rem;
            height: 3rem;
        }
    }

    &:hover {
        background-color: $neutral_color_hover;
    }

    &:active {
        background-color: $neutral_color_active;
    }
}
