<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{fragments/head :: head('Log in')}"></head>
    <body>
        <div class="public_form_page">
            <div class="public_form_content">
                <h1 class="mb-4">Log in</h1>
                <div th:if="${param.error}" class="alert alert-danger" role="alert">Invalid email and/or password</div>
                <div class="public_form_container">
                    <form th:action="@{/login}" method="post">
                        <div class="mb-3">
                            <label class="form-label">Email</label>
                            <input class="form-control" type="text" name="username" required>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Password</label>
                            <input class="form-control" type="password" name="password" required>
                        </div>
                        <input class="btn btn_secondary form-control" type="submit" value="Log in">
                    </form>
                </div>
                <a class="link" href="/">Cancel</a>
            </div>
        </div>
    </body>
</html>
