<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{fragments/head :: head('Log in')}"></head>
    <body>
        <h1>Login Page</h1>
        <div th:if="${param.error}">Invalid email and/or password</div>
        <form th:action="@{/login}" method="post">
            <label>Email</label>
            <input type="text" name="username" required>
            <label>Password</label>
            <input type="password" name="password" required>
            <input type="submit" value="Log in">
        </form>
    </body>
</html>
