<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{fragments/head :: head('Create An Account')}"></head>
    <body>
        <div class="public_form_page">
            <div class="public_form_content">
                <h1 class="mb-3">Create An Account</h1>
                <div th:if="${error}" class="alert alert-danger" th:text="${error}"></div>
                <div class="public_form_container">
                    <form th:action="@{/register}" th:object="${appUser}" method="post">
                        <div class="mb-3">
                            <label class="form-label">Email</label>
                            <input class="form-control" type="text" th:field="*{email}" max="254" autocomplete="new-password" required>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Password</label>
                            <!--/* name used here instead of th:field becauase the password field does not map to the AppUser model attribute */-->
                            <input class="form-control" type="password" name="password" autocomplete="new-password" required>
                        </div>
                        <!--/* TODO - add confirm password logic. JS only */-->
                        <div class="mb-3">
                            <label class="form-label">First Name</label>
                            <input class="form-control" type="text" th:field="*{firstName}" autocomplete="new-password" required>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Last Name</label>
                            <input class="form-control" type="text" th:field="*{lastName}" autocomplete="new-password" required>
                        </div>
                        <div>
                            <input class="btn btn_secondary form-control" type="submit" value="Create Account">
                        </div>
                    </form>
                </div>
                <a class="link" href="/">Cancel</a>
            </div>
        </div>
    </body>
</html>
