<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{fragments/head :: head('Create An Account')}"></head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1 class="mb-3">Success</h1>
                    <p>Your account has been created successfull. You may now sign in on the log in page.</p>
                    <a class="btn btn-primary" href="/login">Go To Log In</a>
                </div>
            </div>
        </div>
    </body>
</html>
