<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{fragments/head :: head('Create An Account')}"></head>
    <body>
        <div class="public_form_page">
            <div class="public_form_content">
                <h1 class="mb-3">Account Created</h1>
                <div class="public_form_container">
                    <p>Your account has been created successfully. You may now sign in on the log in page.</p>
                    <a class="btn btn_secondary form-control" href="/login">Go To Log In</a>
                </div>
            </div>
        </div>
    </body>
</html>
